@media (max-width:600px) {
  .main{
  background-color: #dadada;

  }
  
  nav{
    padding: 0 2rem;
    
  }
  nav .nav-link{
    display: none;
  }
  nav .menu {
    display:block;
    /* background-color: red; */
  }
  .cnt{
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .cnt .left{
    width: 100%;
    height: 500px;
    position: relative;
  }
  .cnt .left img{
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);

  }
  .cnt .center{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cnt .right{
    width: 100%;
    height: 500px;
    display: flex;
    /* padding: -20%; */
    align-items: center;
    justify-content: center;
  }
  
}

@media (max-width:1000px) {
  .main{
    background-color: #dadadaf1;
  
    }
    
 
  nav{
    padding: 0 2rem;
    
  }
  
  .cnt{
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    padding: 0;
  }
  .cnt .left{
    width: 100%;
    height: 500px;
    position: relative;
  }
  .cnt .left img{
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);

  }
  .cnt .center{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cnt .right{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
  }
}

